* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel {
  margin: 50px auto;
  height: 400px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.carousel__button {
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid silver;
  background-color: white;
}

.carousel__wrapper {
  width: 449px;
  height: 380px;
  margin: 0 10px;
  padding: 28px 0;
  overflow: hidden;
}

.carousel__container {
  display: flex;
  width: 5000px;
  height: 320px;
  transition-property: margin-left;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.carousel__item {
  width: 449px;
  height: 100%;
}

.element {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.element__text {
  background-color: antiquewhite;
  width: 160px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  bottom: -20px;
  right: 100px;
}

@media (max-width: 699px), (max-height: 449px) {
  .carousel {
    width: 500px;
    height: 350px;
    margin: 10px auto;
  }

  .carousel__wrapper {
    width: 400px;
    height: 285px;
    padding: 0;
  }

  .carousel__container {
    height: 285px;
  }

  .carousel__item {
    width: 400px;
  }
}

@media (max-width: 519px), (max-height: 369px) {
  .carousel {
    width: 300px;
    height: 200px;
  }

  .carousel__wrapper {
    width: 202px;
    height: 143px;
    padding: 0;
  }

  .carousel__container {
    height: 143px;
  }

  .carousel__item {
    width: 202px;
  }

  .element__text {
    width: 80px;
    height: 60px;
    right: 20px;
  }
}